/*
* Desafio Grid Layout CSS da DIO - Formação CSS
* Marcos Antonio Pelaez de Sousa - Web Designer
* Início: 06/05/2023
*/

/* import font Roboto */

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

/* reset css */

* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-size: 16px;
    vertical-align: baseline;
    box-sizing: border-box;
}

/* geral container */

.geral-container {
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
    "header header header header header"
    "aside aside main main main";
}

/* container geral spaces congig */
header {
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 6px 0;
}

main {
    background-color: #f3f3f3;
    grid-area: main;
    margin: 10px 0 0 0;
    padding: 30px 0 30px 60px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 40px;
}

aside {
    grid-area: aside;
    padding-bottom: 20px;
}

/* header */

.menu-logo img { margin-right: 30px; }

.bts-search{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.bts-search input {
    grid-column-start: 2;
    border: 1px solid #CCCCCC;
}
.bts-search img {
    padding: 5px 12px;
    border: 1px solid #CCCCCC;
}

.bts-direita{
    text-align: right;
}
.bt-direita {
    width: 24px; height: 24px;
    margin-right: 10px;
}

.menu-logo, .bts-direita { padding-top: 8px; }

/* aside - sidebar */

.sidebar div {
    display: grid;
    grid-template-columns: .1fr .5fr;
    margin-top: 25px;
}
.sidebar-txt {
    font-size: 12px;
    padding-top: 4px;
    padding-left: 10px;
    width: 150px;
}

/* main */

.thumb-text {
    margin-top: 16px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 80%;
}

.thumb-text img {
    width: 42px;
}

.thumb-text h4 {
    font-size: 14px; margin-bottom: 5px;
}
.thumb-text p {
    font-size: 12px;
}